.html-css__type {
  display: inline-flex;
  gap: 0.32em;
  font-family: var(--font-code);
  font-size: 2.8em;
  font-weight: bold;
  color: white;
}

.html-css {
  margin: 56px 0;
  display: inline-flex;
  gap: 56px;
}
.html-css__desc {
  margin-top: 1.6em;
  font-size: var(--font-size-text);
  color: var(--color-text);
  line-height: 200%; /*줄간격*/
}
.html-css__desc strong {
  font-weight: bold;
}
.html-css__title {
  font-size: var(--font-size-large);
  /* font-weight: bold; */
  font-weight: 450;
}
._html .html-css__title em { color: #00462A }
._css .html-css__title em { color:  #00462A; }

.html-css__spec {
  margin-top: 1.6em;
}
.html-css__spec dd {
  margin-right: 1.2em;
  font-size: var(--font-size-larger);
  color: var(--color-EGreen);
}

.bldg_type{
  color: white;
  background-color: var(--color-EGreen);
}

/* 초록색 체크표시 */ /*이거 어디에 쓰이는건지..?*/
.html-css__spec dd::before {
  content: '';
  display: inline-block;
  margin-right: 0.4em;
  width: 12px;
  height: 6px;
  border-left: 4px solid var(--color-sub);
  border-bottom: 4px solid var(--color-sub);
  vertical-align: 0.2em;
  transform: rotate(-45deg);
}

.aboutus_page--footer {
  display: flex;
  justify-content:center;   
}

@media (max-width: 768px) {
  #html { 
    border-bottom: 4px solid var(--color-light-bg); 
  }
  .html-css {
    flex-direction: column;
  }
  .html-css__logo {
    width: 50%;
  }
  .html-css__content {
    text-align: center;
  }
  .html-css__title div {
    display: inline-block;
    text-align: left;
  }
}

@media (min-width: 769px) {
  #html {
    border-right: 4px solid var(--color-EGreen);
  }
  .html-css__logo {
    width: 500px;
  }
  .html-css__content {
    text-align: left;
  }
}

