.title{
    text-align: center;
    color: var(--color-EGreen);
    font-size:var(--font-size-large);
    font-weight:800;
    padding:20px 20px;
}
.img_section {
    padding-top: 30px;
    position:relative;
    display:inline-block;
    width:75rem;
    text-align: center;
    
}

.first_page--image{
    height:500px;
}

.header__nav-item {
    display:flex;
    flex-direction: column;
}
.first_page--nav {
    position:absolute;
    right:15%;
    top:30%;
    text-align: center;
    display: inline-flex;
    height:270px;
    width:150px;

}
.header__nav-item {
    width:100px;
    display: inline-block;
    padding: 12px 30px;
}

.header__nav-item:not(:last-child) {
    border-bottom: 2px solid rgba(51, 45, 45, 0.6);
}

.first_button {
    /* 공학관 */
    width:35px;
    position: absolute;
    top: 26px;
    left:320px;
    cursor: pointer;

}
.second_button {
    /* 종합과학관 */
    width:35px;
    position: absolute;
    top:56px;
    left:323px;
    cursor: pointer;
}
.third_button {
    /* 중앙도서관 */
    width:35px;
    position: absolute;
    top:107px;
    left:384px;
    cursor: pointer;
}
.fourth_button {
    /* 포스코관 */
    width:35px;
    position: absolute;
    top:80px;
    left:295px;
    cursor: pointer;
    
}
.fifth_button {
    /* ECC. */
    width:35px;
    position: absolute;
    top:145px;
    left:323px;
    cursor: pointer;
    
}
[class*="button"] {
    padding: 20px;
}

[class*="button"]:hover {    
    transform:scale(1.02);
    transition: all 350ms;
}

.header__nav-item:hover {    
    transform:scale(1.05);
    transition: all 250ms;
}

/* 마우스 올라가면 공학관 글씨도 진하게 하고 싶은데 할줄 모름 */
.footer_container {
    display:flex;
    width:70rem;
    border-top: 3px solid rgba(51, 45, 45, 0.6);
    justify-content: space-between;
}
.first_page--footer {
    display:flex;
    justify-content:center;   
}
.aboutus {
    padding: 10px 50px;
}

.allrights{
    padding: 10px 30px;
}

.logo {
    position:absolute;
    left: 200px;
    top:27px;
    z-index:-1;
    display: flex;
    height:260px;
    opacity:0.7;
}