
.title{
    text-align: center;
    color: var(--color-EGreen);
    font-size:75px;
    font-weight:800;
    padding-top:20px;
    padding-left: 30px;
    padding-right: 30px;
}
.img_section {
    padding-top: 20px;
    position:relative;
    display:inline-block;
    width:75rem;
    text-align: center;
    
}
body {
    background-color: var(--color-EPearBlossom);
}
.first_page--image{
    position:absolute;
    left:37%;
    height:500px;
    z-index:-1;
}

.nav_ul {
    display:flex;
    flex-direction: column;
}
.first_page--nav {
    position:absolute;
    right:15%;
    top:30%;
    text-align: center;
    display: inline-flex;
    width:150px;

}
.header__nav1 {
    width:100px;
    display: inline-block;
    padding: 12px 30px;
}

.header__nav1:not(:last-child) {
    border-bottom: 2px solid rgba(51, 45, 45, 0.6);
}

.first_button {
    /* 공학관 */
    width:35px;
    position: absolute;
    top: 40px;
    left:750px;
    cursor: pointer;

}
.second_button {
    /* 종합과학관 */
    width:35px;
    position: absolute;
    top:100px;
    left:730px;
    cursor: pointer;
}
.third_button {
    /* 중앙도서관 */
    width:35px;
    position: absolute;
    top:200px;
    left:870px;
    cursor: pointer;
}
.fourth_button {
    /* 포스코관 */
    width:35px;
    position: absolute;
    top:140px;
    left:700px;
    cursor: pointer;
    
}
.fifth_button {
    /* ECC. */
    width:35px;
    position: absolute;
    top:270px;
    left:750px;
    cursor: pointer;
    
}
[class*="button"] {
    padding: 20px 30px;
}

[class*="button"]:hover {    
    transform:scale(1.07);
    transition: all 350ms;
}

.header__nav1:hover {    
    transform:scale(1.05);
    font-weight:500;
    transition: all 250ms;
}

.footer_container {
    display:flex;
    width:70rem;
    border-top: 3px solid rgba(51, 45, 45, 0.6);
    justify-content: space-between;
}
.first_page--footer {
    display:flex;
    /* 이부분 맞춰야 함  */
    position: absolute;
    top:624px;
    left:50%;
    transform: translate(-50%, 0%);

}
.aboutus {
    padding: 10px 50px;
}

.allrights{
    padding: 10px 30px;
}

.logo {
    position:absolute;
    left: 200px;
    top:27px;
    z-index:-1;
    display: flex;
    height:260px;
    opacity:0.7;
}

.header__nav1::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: var(--color-EGreen);
    transition: all 350ms;
}

.header__nav1:hover::after {
    left: 0;
    width: 100%;
    height: 4px;
}