/* Reset default margin and padding */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set background color and font styles */
.body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

/* Style header */
header {
  background-color: #00462A; /* 진녹색 */
  color: #fffdf1;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  font-size: 3em; /* 큰 글씨 크기 */
}

.subtitle {
  font-size: 1.2em; /* 큰 글씨 크기 */
}

/* Style content section */
.content {
  margin: 2em;
  padding: 1em;
  background-color: #B9B9B9; /* 아이보리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.floor-buttons {
  display: flex;
  justify-content: space-between; /* 공간을 4등분으로 나누기 */
  margin-top: 1em;
}

.floor-button {
  background-color: #949494; /* 회색 */
  border: none;
  color: #FFFDF1;
  padding: 1em 3em; /* 더 넓은 버튼 */
  cursor: pointer;
  font-size: 1.2em; /* 버튼 글씨 크기 */
  transition: background-color 0.3s ease-in-out; /* 부드러운 배경색 전환 */
}

.floor-button.active {
  background-color: #00462A; /* 진녹색 */
}

.floor-description {
  margin-top: 2em; /* 설명과의 간격 늘리기 */
  padding: 1em; /* 내용 주위에 여백 추가 */
  background-color: #FFFDF1; /* 흰 배경색 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left; /* 설명 텍스트 왼쪽 정렬 */
  font-size: 1.1em; /* 조금 줄인 설명 글씨 크기 */
  color: #333333;
  line-height: 1.6; /* 줄 간격 늘리기 */
  
}

.floor-description h2 {
  font-size: 1.4em; /* 문장 부분의 글씨 크기 */
  margin-bottom: 0.5em; /*문장 아래 여백 추가*/
}
.dsc{
  padding:30px;
}
/* Show description for the selected floor */
.description {
  display:none;
}

.description.active{
 display:flex;
 flex-direction: row;
}


/* Style the horizontal rule for floor descriptions */
.floor-description hr {
  margin: 1em 0; /* 상하 여백 추가 */
  border: none;
  border-top: 2px solid #BCC924; /* 회색 구분선 */
}

/* .header-content 스타일링 */
.header-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px; /* 이미지 크기 조정 */
  height: auto;
  margin-right: 2em; /* 이미지 오른쪽 여백 */
  margin-left: 2em;
}

.main-title {
  text-align: left;
  margin: 0; /* 기본 제목 여백 제거 */
}

/* 이미지의 위치를 조정합니다. */
.floor-image {
  display: block; /* 이미지를 블록 요소로 설정하여 다른 요소들과 수직으로 정렬합니다. */
  margin: 0 auto; /* 가운데 정렬합니다. */
}

/*footer*/
.choose--footer{
  background-color: #FFFDF1;
}
.footer_container {
  display:flex;
  width:70rem;
  border-top: 2px solid rgba(51, 45, 45, 0.6);
  justify-content: space-between;
}
.choose--footer {
  display:flex;
  position: absolute;
  top:600px;
  left:50%;
  transform:translate(-50%,0%);
}
.aboutus {
  padding: 10px 50px;
}

.allrights{
  padding: 10px 30px;
}

.sr-only { /*sr-only 문제 해결*/
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* 스타일링된 뒤로가기 버튼 */
.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00462A; /* 버튼 배경색 */
  color: #fff; /* 버튼 텍스트 색상 */
  text-decoration: none; /* 밑줄 제거 */
  position:absolute;
  top:92px; 
  margin: 20px;
}

/* 버튼에 호버 효과 추가 */
.back-button:hover {
  background-color: #002F1F; /* 호버 시 배경색 변경 */
}


